<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialPortTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SerialPortTest.Properties.Settings>
            <setting name="ServerName" serializeAs="String">
                <value>zhengyl-db.database.windows.net</value>
            </setting>
            <setting name="DatabaseName" serializeAs="String">
                <value>zhengyl-db</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>liuzhengyang183</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>COOL_man183</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>38400</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TableName" serializeAs="String">
                <value>accelData</value>
            </setting>
        </SerialPortTest.Properties.Settings>
    </userSettings>
</configuration>